<div class="text-center">
  <h1>新規グループ作成</h1>
</div>

<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <%= form_for(@group) do |f| %>
    <%= render "layouts/error_messages", model: f.object %>
      <div class="form-group">
        <%= f.label :group_name, "新規グループ名：英数字入力" %>
        <%= f.text_field :group_name, class: "form-control" %>
      </div>
<%#      <div class="form-group">%>
<%#        <%= f.label :password, "新規グループパス" %>
<%#        <%= f.password_field :password, class: "form-control" %>
<%#      </div>%>
<%#      <div class="form-group">%>
<%#        <%= f.label :password_confirmation, "新規グループパス 確認フォーム" %>
<%#        <%= f.password_field :password_confirmation, class: "form-control" %>
<%#      </div>%>
      <div class="form-group">
        <%= label :people, "新規グループ参加メンバー人数" %>
        <%= number_field :people, :count, class: "form-control" %>
      </div>
      
      <%= f.submit "グループを登録する", class: "btn btn-primary btn-block" %>
      
    <% end %>
  </div>
</div>
