<%= render "layouts/flash_messages" %>
<div class="row ">
  <h1 class="col-xs-12 text-center"><%= @role.name %>所属グループ一覧</h1>

<div class="row">
  <div class="col-xs-12  col-md-offset-1 col-md-10">
    <div class="row">
    <% if @groups.any? %>
  <% @groups.each do |group| %>
    <% unless group.group_name == @role.name + '-' +  "admin" %>
      <div class="col-xs-6  col-md-4">
        <div class="panel panel-default">
          <div class="panel-heading">
            <h3 class="panel-title">
              <%= group.group_name %>
            </h3>
          </div>
          <div class="panel-body group_panel">
            <% if group.members.count == 0 %>
              現在、参加しているメンバーがいません。
            <% else %>
              参加人数 <%= group.members.count %> 人 
              <%= link_to 'グループを見る', group_path(group), class: "btn btn-primary btn-block"%>
            <% end %>
          </div>
        </div>  
      </div>
    <% end %>
  <% end %>
  </div>
  <%= paginate @groups %>
<% end %>
  </div>
</div>